In [1]:
import pandas as pd
import numpy as np

In [2]:
train_df = pd.read_csv("train.csv")
test_df = pd.read_csv("test.csv")

In [3]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [4]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Name         418 non-null    object
 3   Sex          418 non-null    object
 4   Age          332 non-null    float64
 5   SibSp        418 non-null    int64
 6   Parch        418 non-null    int64
 7   Ticket       418 non-null    object
 8   Fare         417 non-null    float64
 9   Cabin        91 non-null     object
 10  Embarked     418 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.0+ KB

In [5]:
#Dropping Name and PassengerID feature as it as no relevance
#Dropping Cabin feature as it has a lot of missing values
#Also dropping tickets as it has a lot of unique values
train_df.drop(['Name','Cabin','Ticket', 'PassengerId'], axis = 1, inplace = True)
test_df.drop(['Name','Cabin', 'Ticket', 'PassengerId'], axis = 1, inplace = True)

In [6]:
train_df.dropna(subset = ['Embarked'], inplace = True)
test_df.dropna(subset = ['Fare'], inplace = True)

In [7]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(strategy = 'median')
train_df_num = train_df.drop(['Sex', 'Embarked', 'Survived'], axis = 1)
test_df_num = test_df.drop(['Sex', 'Embarked'], axis = 1)
imputer.fit(train_df_num)
train_num = imputer.transform(train_df_num)
test_num = imputer.transform(test_df_num)

In [8]:
num_attributes = ['Pclass', 'Age', 'SibSp','Parch', 'Fare']
cat_attributes = ['Sex', 'Embarked']

In [9]:
train_num = pd.DataFrame(train_num, columns = num_attributes)
train_num.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 889 entries, 0 to 888
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Pclass  889 non-null    float64
 1   Age     889 non-null    float64
 2   SibSp   889 non-null    float64
 3   Parch   889 non-null    float64
 4   Fare    889 non-null    float64
dtypes: float64(5)
memory usage: 34.9 KB

In [10]:
test_num = pd.DataFrame(test_num, columns = num_attributes)
test_num.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 417 entries, 0 to 416
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Pclass  417 non-null    float64
 1   Age     417 non-null    float64
 2   SibSp   417 non-null    float64
 3   Parch   417 non-null    float64
 4   Fare    417 non-null    float64
dtypes: float64(5)
memory usage: 16.4 KB

In [11]:
from sklearn.preprocessing import OneHotEncoder
OHE = OneHotEncoder(sparse_output = False)
train_df_cat = train_df[cat_attributes]
test_df_cat = test_df[cat_attributes]
train_cat = OHE.fit_transform(train_df_cat)
test_cat = OHE.transform(test_df_cat)

In [15]:
train_cat = pd.DataFrame(train_cat, columns = ['S1', 'S2', 'E1', 'E2', 'E3'])
test_cat = pd.DataFrame(test_cat, columns = ['S1', 'S2', 'E1', 'E2', 'E3'])

In [17]:
test_cat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 417 entries, 0 to 416
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   S1      417 non-null    float64
 1   S2      417 non-null    float64
 2   E1      417 non-null    float64
 3   E2      417 non-null    float64
 4   E3      417 non-null    float64
dtypes: float64(5)
memory usage: 16.4 KB

In [19]:
train_final = pd.concat([train_num, train_cat])
train_final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1778 entries, 0 to 888
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Pclass  889 non-null    float64
 1   Age     889 non-null    float64
 2   SibSp   889 non-null    float64
 3   Parch   889 non-null    float64
 4   Fare    889 non-null    float64
 5   S1      889 non-null    float64
 6   S2      889 non-null    float64
 7   E1      889 non-null    float64
 8   E2      889 non-null    float64
 9   E3      889 non-null    float64
dtypes: float64(10)
memory usage: 152.8 KB

In [21]:
test_final = pd.concat([test_num, test_cat])
test_final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 834 entries, 0 to 416
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Pclass  417 non-null    float64
 1   Age     417 non-null    float64
 2   SibSp   417 non-null    float64
 3   Parch   417 non-null    float64
 4   Fare    417 non-null    float64
 5   S1      417 non-null    float64
 6   S2      417 non-null    float64
 7   E1      417 non-null    float64
 8   E2      417 non-null    float64
 9   E3      417 non-null    float64
dtypes: float64(10)
memory usage: 71.7 KB

In [22]:
train_output = train_df['Survived']
train_output.info()

<class 'pandas.core.series.Series'>
Int64Index: 889 entries, 0 to 890
Series name: Survived
Non-Null Count  Dtype
--------------  -----
889 non-null    int64
dtypes: int64(1)
memory usage: 13.9 KB

In [ ]:
from sklearn.tree